.formpoke__container{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formpoke__form{
    display: flex;
    gap: 0.5rem;
}

.formpoke__btn{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    transition: transform 200ms ease;
}

.formpoke__btn:hover {
    transform: scale(1.10);
    filter: brightness(1.15);
}