.load {
    background-image: url("/public/img/fondoload.png");
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
}

.load__img {
    width: 100%;
    height: 100vh;
}